@font-face {
  font-family: 'Inconsolata_UltraCondensed-ExtraLight';
  src: url('static/Inconsolata_UltraCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-Light';
  src: url('static/Inconsolata_UltraCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-Regular';
  src: url('static/Inconsolata_UltraCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-Medium';
  src: url('static/Inconsolata_UltraCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-SemiBold';
  src: url('static/Inconsolata_UltraCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-Bold';
  src: url('static/Inconsolata_UltraCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-ExtraBold';
  src: url('static/Inconsolata_UltraCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraCondensed-Black';
  src: url('static/Inconsolata_UltraCondensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-ExtraLight';
  src: url('static/Inconsolata_ExtraCondensed-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-Light';
  src: url('static/Inconsolata_ExtraCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-Regular';
  src: url('static/Inconsolata_ExtraCondensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-Medium';
  src: url('static/Inconsolata_ExtraCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-SemiBold';
  src: url('static/Inconsolata_ExtraCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-Bold';
  src: url('static/Inconsolata_ExtraCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-ExtraBold';
  src: url('static/Inconsolata_ExtraCondensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraCondensed-Black';
  src: url('static/Inconsolata_ExtraCondensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-ExtraLight';
  src: url('static/Inconsolata_Condensed-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-Light';
  src: url('static/Inconsolata_Condensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-Regular';
  src: url('static/Inconsolata_Condensed-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-Medium';
  src: url('static/Inconsolata_Condensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-SemiBold';
  src: url('static/Inconsolata_Condensed-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-Bold';
  src: url('static/Inconsolata_Condensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-ExtraBold';
  src: url('static/Inconsolata_Condensed-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Condensed-Black';
  src: url('static/Inconsolata_Condensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-ExtraLight';
  src: url('static/Inconsolata-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Light';
  src: url('static/Inconsolata-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('static/Inconsolata-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Medium';
  src: url('static/Inconsolata-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-SemiBold';
  src: url('static/Inconsolata-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Bold';
  src: url('static/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-ExtraBold';
  src: url('static/Inconsolata-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata-Black';
  src: url('static/Inconsolata-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-ExtraLight';
  src: url('static/Inconsolata_SemiExpanded-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-Light';
  src: url('static/Inconsolata_SemiExpanded-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-Regular';
  src: url('static/Inconsolata_SemiExpanded-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-Medium';
  src: url('static/Inconsolata_SemiExpanded-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-SemiBold';
  src: url('static/Inconsolata_SemiExpanded-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-Bold';
  src: url('static/Inconsolata_SemiExpanded-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-ExtraBold';
  src: url('static/Inconsolata_SemiExpanded-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_SemiExpanded-Black';
  src: url('static/Inconsolata_SemiExpanded-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-ExtraLight';
  src: url('static/Inconsolata_Expanded-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-Light';
  src: url('static/Inconsolata_Expanded-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-Regular';
  src: url('static/Inconsolata_Expanded-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-Medium';
  src: url('static/Inconsolata_Expanded-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-SemiBold';
  src: url('static/Inconsolata_Expanded-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-Bold';
  src: url('static/Inconsolata_Expanded-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-ExtraBold';
  src: url('static/Inconsolata_Expanded-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_Expanded-Black';
  src: url('static/Inconsolata_Expanded-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-ExtraLight';
  src: url('static/Inconsolata_ExtraExpanded-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-Light';
  src: url('static/Inconsolata_ExtraExpanded-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-Regular';
  src: url('static/Inconsolata_ExtraExpanded-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-Medium';
  src: url('static/Inconsolata_ExtraExpanded-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-SemiBold';
  src: url('static/Inconsolata_ExtraExpanded-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-Bold';
  src: url('static/Inconsolata_ExtraExpanded-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-ExtraBold';
  src: url('static/Inconsolata_ExtraExpanded-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_ExtraExpanded-Black';
  src: url('static/Inconsolata_ExtraExpanded-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-ExtraLight';
  src: url('static/Inconsolata_UltraExpanded-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-Light';
  src: url('static/Inconsolata_UltraExpanded-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-Regular';
  src: url('static/Inconsolata_UltraExpanded-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-Medium';
  src: url('static/Inconsolata_UltraExpanded-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-SemiBold';
  src: url('static/Inconsolata_UltraExpanded-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-Bold';
  src: url('static/Inconsolata_UltraExpanded-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-ExtraBold';
  src: url('static/Inconsolata_UltraExpanded-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inconsolata_UltraExpanded-Black';
  src: url('static/Inconsolata_UltraExpanded-Black.ttf') format('truetype');
}
